body  {
    background-image: linear-gradient(to top, #ffff 0%, #ace0f9 100%);
}
hr {
background-color:black;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
	.navbar-inverse .navbar-nav > li > a {
	color:white;
	}

.navbar-inverse .navbar-brand {
    color: white;
}
	
	
	.navbar-nav > li:hover {
		background-color:green;
		text-decoration:underline;
		color:white;
	}


	
	.navbar-brand {
        color: white;
		
	}
	.navbar-brand img {
	float:left;
	margin-top:-13px;
	margin-right:10px;
	}
	
	.header-block {
	background-image:url("../img/header.png");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	}
	
	.ab-me {
	margin-top:30px;
	
	}

.ab-me h3, p {
    font-weight: 400;
    color:black;
}

.ab-me h3 {
    font-weight: 700;
}

.ab-me {
    text-align: justify;
}

.smb-img {
width: 20%;
    height: auto;
    margin-bottom:20px;
    border-radius: 50%;
}

p, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}
	
	.header-photo-info img {
	width:300px;
	padding-top:30px;
	height:350px;
	margin:0 auto;
	margin-top:30px;
	}
	
	.bg-3 {
	background-image: url("~/img/header-bg.jpg");
	margin-top:30px;
	}

.bg-3 h3 {
    font-weight: 700;
}
	
	.header-text-block {
	margin-top:10px;
	margin-bottom:150px;
	color:white;
	top:100px;
	}

    
	
	.caroucell-block {
	margin-bottom:10px;
	padding-bottom:10px;
	}
	
	.carousel-control {
		margin-top:120px;
	}
	.carousel-control.right {
	background-image:none;
	}
	
	.carousel-control.left {
	background-image:none;
	}
	
	.work-block {

	}
	

.html-sk {
    background-color: green;
}

.css-sk {
    background-color: blue;
}

.boot-sk {
    background-color:coral;
}

.sql-sk {
    background-color:firebrick;
}

.btn-success:hover {
text-decoration: underline;
}

.go-back {
    color: white;
    text-decoration: underline;
}

.go-back:hover {
    color: white;
    text-decoration: underline;
}
	
	
	
	.exp_block {
	padding:5px;
	border-radius:5px;
	margin-top:30px;
	}
	
	
	.resume-block {
	margin-bottom:30px;
	}

.resume-block h3 {
    font-weight: 700;
}
	
	.btn-dwd {
		padding:10px 15px;
		background-color:green;
		color:white;
		border-radius:5px;
		margin-top;10px;
	
	}
	
	.btn-dwd:hover { 
	color:white;
    text-decoration: underline;
	}
		
	.wrk_exp ul {
	text-align:left;
	}
	
	.wrk_exp ul li{
	list-style:square outside;
	margin-left:20px;
	}
	
	.skills-section {
	padding-left:0;
	padding-right:30px;
	}
	

	
	
	.skills-title {
	font-size:24px;
	text-decoration:underline;
	margin-bottom:20px;
        font-weight: 700;
	
	}
	
	.dwn-cv-btn {
	width:50%;
	margin-top:10px;
	}
	
    /* Add a gray background color and some padding to the footer */
    footer {

	  padding-bottom:10px;
	  margin-top:30px;
    }
	
	.somebody-say {

	padding:5px;
	border-radius:5px;
	margin-top:30px;
	margin-bottom:10px;
	}
	
	.somebody-say div > p {
		padding-bottom;20px;
	}

.somebody-say h3 {
    font-weight: 700;
}
	
	
	.footer-left {
		border-radius:5px;
		}

.footer-right h3 {
    font-weight: 700;
}

.footer-left h3 {
    font-weight: 700;
		}
	
	.footer-right {
	border-radius:5px;
	}
	
	
	 /* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 25px;
    width: 30px;
	border-radius: 50%;
    text-align: center;
    text-decoration: none;
	margin-bottom:10px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
	width: 30px;
	background-color:green;
	color:white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #3B5998;
    color: white;
} 

.fa-instagram {
    background: #3B5998;
    color: white;
} 
.fa-linkedin {
    background: #3B5998;
    color: white;
} 

.fa-github {
    background: #3B5998;
    color: white;
} 


.footer-copyright {
	padding: 15px;
	margin-top:0;
	color:black;

}

address {
font-style:Italic;

}


.img-portfolio-item {
margin-bottom:20px;
}

.img-portfolio-item a {
text-decoration:underline;
font-size:14px;
color: green;

}

.captcha {
    width: 280px;
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.btn-send {
    margin-top: 10px;
}

@media (max-width:768px) and (orientation:portrait) {
	
	
	.navbar-inverse .navbar-nav > li {
		text-align:center;	
	}
	
	.ab-me {
	margin-top:10px;
	}
	
	.bg-3 {
		
	}
	
	.skills-title {
		margin: 0 auto;
        font-weight: 700;
	}
	
	.caroucell-block {
	margin-bottom:30px;
	width:100%;
	}
	
	
	.exp_block {
		width:95%;
	}
	
	
	.skills-section {
	width:95%;
	margin: 0 auto;

	}
	
	.somebody-say {
	width:95%;
	margin-top:10px;
	margin-bottom:10px;
	}
	
	.carousel-control {
		margin-top: -50px;
	}
	
	.wrk_exp {
	margin-left:0;
	margin-top:10px;
	}
	
	
	.wrk_exp ul h2, h3, h4 {
		text-align:center;

	}
	
	.wrk_exp ul > li  {
	margin-left:0;
	text-align:left;
	}
	
	.skills-section {
	padding-left:5px;
	padding-right:5px;
	}
	
	.dwn-cv-btn {
	width:90%;
	}

        .smb-img {
    width: 40%;
    height: auto;
    margin-bottom:20px;
}


        .captcha {
    transform:scale(0.77);
    margin-left: -5px;
    display: block;

}

	
	 footer {
	  padding-bottom:10px;

	  background-image:none;
    }
	
	.footer-right {
	margin-top:10px;
	margin-bottom:0;
	width:95%;
	}
	
	.footer-left {
	margin-top:10px;
	width:95%;
	}
	
	.footer-copyright {

	 background-image:none;
	}


	@media (max-width:667px) and (orientation:landscape) {
	
	.caroucell-block {
	margin-bottom:30px;
	width:100%;
	}
	
	.exp_block {
		width:95%;
	}
	
	.skills-section {
    padding-left: 30px;
    padding-right: 30px;
}
	
	.carousel-control {
	margin-top:150px;
	}
	
	.wrk_exp {
	margin-left:30px;
	margin-top:30px;
	padding-bottom:0;
	padding-left:30px;
	
	}
	
	.skills-section {
	width:95%;
	margin: 0 auto;
	}
	
	.somebody-say {
	width:95%;
	margin-top:20px;
	}
	
	.dwn-cv-btn {
	width:90%;
	}


        .captcha {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}
	
	}
